<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tiles</title>
</head>
<body>
  <h1>Lista de Tiles</h1>
  <button onclick="window.location.href='/ui/new-tile'">Novo Tile</button>
  <table>
    <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Nome</th>
                <th>Src</th>
            </tr>
        </thead>
        <tbody>
            {% for tile in tiles %}
            <tr>
                <td>{{ tile.id }}</td>
                <td>{{ tile.title }}</td>
                <td>{{ tile.name }}</td>
                <td>{{ tile.src }}</td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
</body>
</html>