<!DOCTYPE html>
<html>
<head>
    <title>Mapa com Leaflet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    
    <style>
        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1 onclick="window.location.href='/web/'">Tile Craft ⬡</h1>
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    // Converte tile XYZ para lat/lon
    function tile2lat(y, z) {
        const n = Math.PI - 2 * Math.PI * y / Math.pow(2, z);
        return (180 / Math.PI) * Math.atan(0.5 * (Math.exp(n) - Math.exp(-n)));
    }

    function tile2lon(x, z) {
        return x / Math.pow(2, z) * 360 - 180;
    }

    const z = 10;
    const x = 372;
    const y = 429;

    const lat = tile2lat(y, z);
    const lon = tile2lon(x, z);

    const map = L.map('map').setView([lat, lon], z);

    // Mapa base do OSM
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // Raster overlay
    L.tileLayer('/tiles/chirps-v3.0.1981.0102/{z}/{x}/{y}.png', {
        tileSize: 256,
        opacity: 0.9,
        attribution: '© Seus Rasters',
        tms: true, // MUITO IMPORATNTE
    }).addTo(map);
</script>
</body>
</html>
